

.btnLogout{
    -fx-pref-width: 20px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.sidePanel{


    -fx-background-color: #01280a;

}

.sidePanelButtons{

    -fx-pref-width: 235px;
    -fx-pref-height: 70px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: #ffffff;

}
.sidePanelButtons:pressed{

    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: rgb(3, 166, 5);

}
