

.btnLogout{
    -fx-pref-width: 20px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.sidePanel{

    -fx-fill: #000f73;
    -fx-border-radius: 50px;

}

.sidePanelButtons{
    -fx-pref-width: 280px;
    -fx-pref-height: 70px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: #ffffff;

}
.sidePanelButtons:pressed{

    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: rgb(4, 246, 125);

}
